.patient{
    width: 200px;
    height: 315px;
    display: flex;
    flex-direction: column;
    border:1px solid whitesmoke;
    transition: all ease-in-out 0.1s;
}


.image-container{
    flex:1;
    height: 50px;
}
.image-container > img{
    width: 100% !important;
    height: 100% !important;
}
.patient-bottom{
    padding: 8px;
    font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 29px;

        color: #696464;
    
}
.btn-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    height: 40px;
}
.viewMoreBtn{
        background: #129610 !important;
        color: white !important;
        font-family: 'Poppins', sans-serif !important;
        height: 100%;
        border-radius: 0 !important;
        font-weight: 500 !important;
        font-size: 12px;
}
/* .viewMoreBtn:hover > patient{
    transform: scale(0.98);
} */
